PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://taskoff_user:nWmmjHd86ar7CLgB@ac-i1hqitn-shard-00-00.9evhkfz.mongodb.net:27017,ac-i1hqitn-shard-00-01.9evhkfz.mongodb.net:27017,ac-i1hqitn-shard-00-02.9evhkfz.mongodb.net:27017/taskoff?ssl=true&replicaSet=atlas-lwjsz2-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=7d